<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>El estudiante puede desempeñarse como: </h2>
            <ul>
                <li>Full-Stack Developer</li>
                <li>Frontend Developer</li>
                <li>Backend Developer</li>
                <li>Mobile Developer</li>
                <li>Jefe de Proyectos</li>
            </ul>
        </div>
        <div class="col-4">
            <img src="https://img.freepik.com/fotos-premium/grupo-jovenes-viendo-video-computadora-portatil-juntos-mientras-estan-sentados-piso_8595-27493.jpg?w=2000" alt="ing sistemas.jpg" width="300px"/>
        </div>
    </div>
</div>
