<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
<div class="container beneficios-container">
    <div class="row">
        <div class="mx-auto">
            <h1 class="title-1" style="font-family:'Bungee Spice';font-size: 80px;">Tecnologías  Web</h1>
        </div>
        
    </div>
    <div style="height: 30px;"></div>
    <div class="row">
        <div class="col-6 text-center img-beneficios">
            <img src="https://www.tecnologias-informacion.com/stack.jpg" alt="sis.jpg" width="400px" height="250px">
        </div>
        <div class="col-6">
            <h2>Caracteristicas de la materia:</h2>
            <ul>
                <li>SOBRE EL CURSO:  El curso esta dividido en clases teóricas y prácticas.</li>
                <li>                    CLASES TEÓRICAS: La asignatura requiere de conceptos que acompañan al desarrollo de las Tecnologías WEB. Las estrategias didácticas en estas clases serán las investigaciones personales y las defensas grupales en base a presentaciones semanales.
                </li>
                <li>                    CLASES PRÁCTICAS: En las clases prácticas se darán ejemplos de código para el desarrollo de las aplicaciones se resolverán ejemplos en clase y se trabajará en proyectos semanales con presentaciones individuales utilizando la estrategia didáctica de proyectos en base a casos.   </li>
                
            </ul>
        </div>
    </div>
</div>